body {
  background: #000;
  color: #fff;
  font-family: "Courier New", monospace;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.terminal {
  border: 2px solid #fff;
  padding: 30px;
  width: 340px;
  text-align: center;
  background: #000;
}

h1 {
  letter-spacing: 6px;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background: #000;
  border: 1px solid #fff;
  color: #fff;
}

input::placeholder {
  color: #aaa;
}

button {
  width: 100%;
  padding: 10px;
  background: #fff;
  color: #000;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #ccc;
}

#error {
  margin-top: 15px;
  color: #f00;
  display: none;
  font-size: 12px;
  letter-spacing: 2px;
}
